@media (max-width:1440px){
  .approach-content,
  .fow-header{
    width: 75.55%;
}

@media (max-width:1024px){
  .approach-content,
  .fow-header{
    width: 85.55%;
}
.fow-content h3,
.fow-content h6{
  margin-top: 5.35vw;
}
.fow-btm-content{
  width: 40%;
}


}


}
@media (max-width:767px){

.hero-link-container{
  min-width: calc(100% + 6.9vw);
}
.approach-title,
.fow-header-title{
  margin-bottom: 20px;
}
.approach-content,
.fow-header,
.fow-media{
  width: 100% !important;
}

.ready-to-begain-content{
  width: 100%;
  padding-top: 75px;
  padding-bottom: 75px;
}
.fow-content h3,
.fow-content h6{
  margin-top: 10.35vw !important;
}
.fow-btm-content{
  width: 100% !important;
}
.fow-content-img{
  display: none;
}
.ready-to-begain-content {
  margin-bottom: 5vw;
}
.ready-to-begain-link{
  padding-bottom: 0;
}

}
@media (max-width:500px){
  .hero-link-container a{
    font-size: 13px;
  }
  .approach-description,
  .fow-header-description{
    font-size: 26px;
    color:#000;
  }
  h3{
    font-size: 24px !important;
  }

}

